In [16]:
from numpy import *
import pandas as pd

lable4 = pd.read_csv("lable4.csv")
lable1 = pd.read_csv("lable1.csv")
lable2 = pd.read_csv("lable2.csv")
lable1.shape,lable4.shape,lable2.shape

((11309, 110), (2242019, 110), (30130, 110))

In [22]:
lable1[['register_time','wood_add_value']]

             register_time  wood_add_value
0      2018-01-26 00:32:43       1111744.0
1      2018-01-26 02:36:55       5475019.0
2      2018-01-26 04:52:15        785351.0
3      2018-01-26 08:02:21      55495770.0
4      2018-01-26 09:42:34        637524.0
5      2018-01-26 11:57:05        442811.0
6      2018-01-26 11:57:39       4236075.0
7      2018-01-26 12:16:08       1031103.0
8      2018-01-26 16:20:25       1031980.0
9      2018-01-26 19:30:13       1264040.0
10     2018-01-26 21:56:27       1078582.0
11     2018-01-27 11:30:24       4012295.0
12     2018-01-27 16:08:34       1227112.0
13     2018-01-27 18:35:34       4074530.0
14     2018-01-27 20:38:43       8734072.0
15     2018-01-27 21:19:05        750353.0
16     2018-01-28 01:45:31      15695309.0
17     2018-01-28 14:09:13       3909335.0
18     2018-01-28 15:48:29       7927363.0
19     2018-01-28 16:52:14       2500284.0
20     2018-01-29 04:04:32       2575398.0
21     2018-01-29 05:08:10       1568155.0
22     2018-01-29 06:50:23         94502.0
23     2018-01-29 12:09:12      10605260.0
24     2018-01-29 12:12:48      12800793.0
25     2018-01-29 17:43:52      11417251.0
26     2018-01-30 06:27:49      19269457.0
27     2018-01-30 08:30:50      12015453.0
28     2018-01-30 09:05:37        557287.0
29     2018-01-30 14:07:12      17229238.0
...                    ...             ...
11279  2018-01-30 21:37:33       8621962.0
11280  2018-01-31 00:47:43      11554669.0
11281  2018-01-31 04:10:10       2865689.0
11282  2018-01-31 05:44:46     370902452.0
11283  2018-01-31 05:49:38       6811712.0
11284  2018-01-31 19:31:09      29417866.0
11285  2018-02-01 00:35:12      11830751.0
11286  2018-02-01 04:45:21       3933421.0
11287  2018-02-01 05:09:01      15277047.0
11288  2018-02-01 10:05:46       5292717.0
11289  2018-02-01 12:58:24       8164965.0
11290  2018-02-01 18:00:18      12011572.0
11291  2018-02-01 22:05:50       9416483.0
11292  2018-02-02 06:36:18       9515781.0
11293  2018-02-02 09:32:02      15310218.0
11294  2018-02-02 10:16:41       1361228.0
11295  2018-02-02 11:18:17     229114372.0
11296  2018-02-02 12:37:49      28840274.0
11297  2018-02-02 13:15:36      23184408.0
11298  2018-02-02 16:14:39      12776119.0
11299  2018-02-02 17:40:22      11930986.0
11300  2018-02-03 00:19:37       8959578.0
11301  2018-02-03 03:41:42      19169640.0
11302  2018-02-03 04:35:38       6528791.0
11303  2018-02-03 06:37:32      17759716.0
11304  2018-02-03 09:12:45       6260463.0
11305  2018-02-03 12:33:14      10948564.0
11306  2018-02-03 12:47:11      19554131.0
11307  2018-02-03 14:00:59      94586282.0
11308  2018-02-03 14:18:12       7136284.0

[11309 rows x 2 columns]

In [9]:
lable4.columns[:20]

Index([u'user_id', u'register_time', u'wood_add_value', u'wood_reduce_value',
       u'stone_add_value', u'stone_reduce_value', u'ivory_add_value',
       u'ivory_reduce_value', u'meat_add_value', u'meat_reduce_value',
       u'magic_add_value', u'magic_reduce_value', u'infantry_add_value',
       u'infantry_reduce_value', u'cavalry_add_value', u'cavalry_reduce_value',
       u'shaman_add_value', u'shaman_reduce_value',
       u'wound_infantry_add_value', u'wound_infantry_reduce_value'],
      dtype='object')

In [2]:
a1 = lable4.wood_add_value[lable4.wood_add_value == lable4.wood_add_value.max()].index
a2 = lable4.stone_add_value[lable4.stone_add_value == lable4.stone_add_value.max()].index
a3 = lable4.ivory_add_value[lable4.ivory_add_value == lable4.ivory_add_value.max()].index
a4 = lable4.meat_add_value[lable4.meat_add_value == lable4.meat_add_value.max()].index
print a1,a2,a3,a4

Int64Index([2005099], dtype='int64') Int64Index([1909710], dtype='int64') Int64Index([1909710], dtype='int64') Int64Index([186887], dtype='int64')

In [4]:
wood_max = lable4.wood_add_value.max()
stone_max = lable4.stone_add_value.max()
ivory_max = lable4.ivory_add_value.max()
meat_max = lable4.meat_add_value.max()
magic_max = lable4.magic_add_value.max()
print wood_max,stone_max,ivory_max,meat_max,magic_max

158249380.0 132879785.0 127705203.0 1226861100.0 263722820.0

In [9]:
lable1_wood = lable1[(lable1.wood_add_value >wood_max)]
lable1_stone = lable1[(lable1.stone_add_value >stone_max)]
lable1_ivory = lable1[(lable1.ivory_add_value >ivory_max)]
lable1_meat = lable1[(lable1.meat_add_value >meat_max)] 
lable1_magic = lable1[(lable1.magic_add_value >magic_max)] 
                    
lable1_wood.shape,lable1_stone.shape,lable1_ivory.shape,lable1_meat.shape,lable1_magic.shape

((266, 110), (298, 110), (126, 110), (7, 110), (0, 110))

In [15]:
print lable1_wood.prediction_pay_price.describe()
print lable1_wood.pay_price.describe()
print lable1_stone.prediction_pay_price.describe()
print lable1_stone.pay_price.describe()
print lable1_ivory.prediction_pay_price.describe()
print lable1_ivory.pay_price.describe()
print lable1_meat.prediction_pay_price.describe()
print lable1_meat.pay_price.describe()
lable1.prediction_pay_price.max(),lable1.pay_price.max()

count      266.000000
mean      4317.815338
std       4663.098852
min        203.870000
25%       1605.355000
50%       2981.520000
75%       5192.230000
max      32977.810000
Name: prediction_pay_price, dtype: float64
count     266.000000
mean     1316.449398
std      1084.194569
min       176.920000
25%       616.850000
50%       936.810000
75%      1728.992500
max      7457.950000
Name: pay_price, dtype: float64
count      298.000000
mean      4122.465537
std       4515.141985
min        203.870000
25%       1565.830000
50%       2814.915000
75%       5042.110000
max      32977.810000
Name: prediction_pay_price, dtype: float64
count     298.000000
mean     1235.244933
std      1054.706311
min       176.920000
25%       568.117500
50%       851.800000
75%      1591.765000
max      7457.950000
Name: pay_price, dtype: float64
count      126.00000
mean      6248.39373
std       5618.66260
min        806.79000
25%       2887.40250
50%       4712.19000
75%       7236.73250
max      32977.81000
Name: prediction_pay_price, dtype: float64
count     126.000000
mean     2000.394127
std      1213.672380
min       531.820000
25%      1222.652500
50%      1763.620000
75%      2387.867500
max      7457.950000
Name: pay_price, dtype: float64
count        7.000000
mean     10762.364286
std       7920.972997
min       2090.440000
25%       5414.415000
50%       8155.570000
75%      15693.340000
max      22875.030000
Name: prediction_pay_price, dtype: float64
count       7.000000
mean     3419.077143
std      1400.467556
min      2065.470000
25%      2630.465000
50%      3246.430000
75%      3553.365000
max      6253.980000
Name: pay_price, dtype: float64

(32977.81, 7457.95)

In [ ]:
lable1_wood = lable1[(lable1.wood_add_value >wood_max)]
lable1_stone = lable1[(lable1.stone_add_value >stone_max)]
lable1_ivory = lable1[(lable1.ivory_add_value >ivory_max)]
lable1_meat = lable1[(lable1.meat_add_value >meat_max)] 
lable1_magic = lable1[(lable1.magic_add_value >magic_max)]